<?xml version="1.0" encoding="UTF-8"?> 
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            class="za.vutshilalabs.bpelgen.navigator.NonWebServices"
            id="za.vutshilalabs.bws.filters.nonWS"
            name="All non Web Service files"
            visibleInUI="true">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="za.vutshilalabs.bpelgen.navigator.NonRODIN"
            id="za.vutshilalabs.bws.filters.nonRodin"
            name="All non RODIN projects"
            visibleInUI="true">
      </commonFilter>
   </extension> 
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="za.vutshilalabs.bws.popupMenus"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="za.vutshilalabs.bws.menus"
               label="Service Generator"
               path="additions">
            <separator
                  name="bws">
            </separator>
         </menu>
         <action
               class="za.vutshilalabs.bpelgen.popup.actions.GenerateAction"
               enablesFor="1"
               id="za.vutshilalabs.bws.generateAction"
               label="Generate Service"
               menubarPath="za.vutshilalabs.bws.menus/bws">
            <selection
                  class="org.eclipse.core.resources.IFile"
                  name="*.bum">
            </selection>
         </action>
         <action
               class="za.vutshilalabs.bpelgen.popup.actions.UpdateAction"
               id="za.vutshilalabs.bws.updateAction"
               label="Update Event-B"
               menubarPath="za.vutshilalabs.bws.menus/bws">
            <selection
                  class="org.eclipse.core.resources.IFile"
                  name="*.wsdl">
            </selection>
            <selection
                  class="org.eclipse.core.resources.IFile"
                  name="*.bpel">
            </selection>
         </action>
         <action
               class="za.vutshilalabs.bpelgen.popup.actions.ValidateAction"
               id="za.vutshilalabs.bws.validateAction"
               label="Validate"
               menubarPath="za.vutshilalabs.bws.menus/bws">
            <selection
                  class="org.eclipse.core.resources.IFile"
                  name="*.wsdl">
            </selection>
            <selection
                  class="org.eclipse.core.resources.IFile"
                  name="*.bpel">
            </selection>
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="za.vutshilalabs.bws.popupMenus"
            objectClass="org.eventb.core.IMachineRoot">
            <menu
               id="za.vutshilalabs.bws.menus"
               label="Service Generator"
               path="additions">
            <separator
                  name="bws">
            </separator>
         </menu>
         <action
               class="za.vutshilalabs.bpelgen.popup.actions.GenerateAction"
               enablesFor="1"
               id="za.vutshilalabs.bws.generateAction"
               label="Generate Service"
               menubarPath="za.vutshilalabs.bws.menus/bws">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="za.vutshilalabs.bpelgen.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="za.vutshilalabs.bpelgen.preferences.PreferencesPage"
            id="za.vutshilalabs.bws.preferences"
            name="Service Generator">
      </page>
   </extension>
<extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/sample.gif"
            id="za.vutshilalabs.bws.view"
            name="Service Generator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="za.vutshilalabs.bws.view">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="za.vutshilalabs.bws.view">
         <includes>
           <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
           <contentExtension
                 pattern="org.eclipse.ui.navigator.resources.filters.*">
           </contentExtension>
           <contentExtension
                 pattern="za.vutshilalabs.bws.filters.*">
           </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eventb.ui.perspective.eventb">
         <view
               id="za.vutshilalabs.bws.view"
               minimized="false"
               ratio="0.50"
               relationship="bottom"
               relative="fr.systerel.explorer.navigator.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="za.vutshilalabs.bws.actionSet"
            label="BWS Action Set"
            visible="true">
         <menu
               id="za.vutshilalabs.bws.menus"
               label="Service Generator">
            <separator
                  name="bws">
            </separator>
         </menu>
         <action
               class="za.vutshilalabs.bpelgen.actions.Generate"
               enablesFor="1"
               icon="icons/sample.gif"
               id="za.vutshilalabs.bws.actions.Generate"
               label="&amp;Generate Service"
               menubarPath="za.vutshilalabs.bws.menus/bws"
               toolbarPath="bws"
               tooltip="Generate Web Service">
            <selection
                  class="org.eventb.core.IMachineRoot">
            </selection>
            <selection
                  class="org.eclipse.core.resources.IFile"
                  name="*.bum">
            </selection>
         </action>
         <action
               class="za.vutshilalabs.bpelgen.actions.Update"
               enablesFor="1"
               id="za.vutshilalabs.bws.actions.Update"
               label="&amp;Update Event-B"
               menubarPath="za.vutshilalabs.bws.menus/bws"
               style="push"
               tooltip="Update Event-B models">
            <selection
                  class="org.eclipse.core.resources.IFile"
                  name="*.wsdl">
            </selection>
            <selection
                  class="org.eclipse.core.resources.IFile"
                  name="*.bpel">
            </selection>
         </action>
      </actionSet>
   </extension>
 

</plugin>
